@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  margin: 0px;
  padding: 0px;
  background-color: #8cc461;
  /* background-color:  #FFF; */
}

.mainn {
  /* background: #8CC461; */
  height: 97vh;
  width: 99vw;
  position: relative;
}

.score1 {
  width: 99vw;
  height: 10rem;
  /* border: 0.125rem solid tomato; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .buttons {
    width: 100px;
    height: auto;
    /* border: 0.125rem solid tomato; */
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .score {
    width: 46rem;
    height: 9rem;
    flex-shrink: 0;
    border-radius: 0.81rem;
    border: 0.125rem solid #fff;
    background: rgba(28, 48, 120, 0);
    /* position: absolute;
        top:2rem;
        left: 15rem; */
    /* translate: 50% 50%; */
    position: relative;
  }

  .list {
    height: 100%;
    width: fit-content;
    /* background-color: aqua; */
    position: absolute;
    top: -1rem;
    left: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .f1 {
    width: 14.6874rem;
    height: 2.3125rem;
    /* flex-shrink: 0; */
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1rem;
  }

  .f2 {
    width: 7.2rem;
    height: 7.6875rem;
    /* flex-shrink: 0; */
    border-radius: 9px;
    background: #fff;
    position: absolute;
    top: 0.5rem;
    left: 30rem;
    /* border: 0.125rem solid tomato; */
  }
  .f3 {
    width: 6.8rem;
    height: 7.6875rem;
    /* flex-shrink: 0; */
    border-radius: 9px;
    background: #fff;
    position: absolute;
    top: 0.5rem;
    left: 38.3125rem;
    /* border: 0.125rem solid tomato; */
  }

  .t1 {
    text-align: center;
    color: #656565;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    letter-spacing: 1.7px;
    position: absolute;
    top: -0.625rem;
  }
  /* .f3 .t1{

    } */
  .t2 {
    text-align: center;
    color: #252525;
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    position: absolute;
    top: -1.375rem;
    left: 1.5rem;
  }
}

.grp2 {
  height: 9.0625rem;
  width: 9.0625rem;
  background-color: rgb(64, 77, 224);
  border-radius: 50%;
  box-shadow: 0px 8px 2px 5px rgba(0, 0, 0, 1), 0 8px 2px 5px rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.grp2:hover {
  background-color: rgb(189, 7, 255);
  transform: scale(1.1);
}
.grp2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.grp3 {
  width: 9.0625rem;
  height: 9.0625rem;
  border-radius: 50%;
  background-color: rgb(224, 64, 165);
  box-shadow: 0px 8px 2px 5px rgba(0, 0, 0, 1), 0 8px 2px 5px rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.grp3:hover {
  background-color: rgb(255, 123, 7);
  transform: scale(1.1);
}
.grp3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.grp1 {
  height: 9.0625rem;
  width: 9.0625rem;
  border-radius: 50%;
  background-color: rgb(224, 179, 64);
  box-shadow: 0px 8px 2px 5px rgba(0, 0, 0, 1), 0 8px 2px 5px rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.grp1:hover {
  background-color: rgb(255, 7, 57);
  transform: scale(1.1);
}
.grp1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.grp4 {
    
    position: absolute;
    top: 0px;
    left: 22px;
  height: 9.0625rem;
  width: 9.0625rem;
}
.grp5 {
    
    position: absolute;
    top: 0px;
    left: 22px;
  width: 9.0625rem;
  height: 9.0625rem;
}
.grp6 {
    position: absolute;
    top: 0px;
    left: 22px;
  height: 9.0625rem;
  width: 9.0625rem;
}

.scndprt {
  width: 99vw;
  height: calc(97vh - 13rem);
  /* border: 0.125rem solid rgb(11, 120, 221); */
  position: relative;
}

/* .scndprt .scndprt0 {
  display: none;
} */

.scndprt0 {
  width: 99vw;
  height: calc(97vh - 13rem);
  /* border: 0.125rem solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.scndprt01 {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  /* border: 0.125rem solid rgb(84, 11, 201); */
  position: relative;
}

.grp {
  height: auto;
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.grp0 {
  height: auto;
  width: 25rem;
  /* border: .125rem  solid teal; */
  /* translate: 110% 40%; */
  display: flex;
  justify-content: center;
}
.line1,
.line2,
.line3 {
  width: 8.3125rem;
  height: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.64);
}

.line1 {
  position: absolute;
  left: 15rem;
  top: 9rem;
  z-index: -1;
  transform: rotate(-45deg);
}

.line2 {
  position: absolute;
  left: 4rem;
  top: 9rem;
  z-index: -1;
  transform: rotate(45deg);
}
.line3 {
  z-index: -1;
  position: absolute;
  left: 9rem;
  top: 6rem;
}

.scndprt1 {
  width: 99vw;
  height: calc(97vh - 13rem);
  /* border: 0.125rem solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.scndprt11 {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  /* border: 2.5px solid rgb(84, 11, 201); */
  position: relative;
}

.new-page {
  width: 46rem;
  height: 10.8rem;
  /* border: 0.125rem solid tomato; */
  display: flex;
  justify-content: space-between;
}

.equal {
    z-index: 1;
  height: 10.5rem;
  width: 14rem;
  /* border: 0.125rem solid turquoise; */
  position: relative;
}
.sucs {
  list-style-type: none;
  display: flex;
}

.text {
  display: flex;
}
.text-success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.t3 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
  letter-spacing: 3.9px;
  /* position: absolute;
    top: 2rem; */
}
.t4 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
  letter-spacing: 2.5px;
}
.t5 {
  width: 10.875rem;
  height: 2.75rem;
  /* flex-shrink: 0; */
  border-radius: 9px;
  background: #fff;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.mar {
  margin-left: 1.5rem;
}

.foot {
  width: 99vw;
  height: 3rem;
  /* border: 0.125rem solid tomato; */
  position: absolute;
  bottom: -3rem;
  /* display: flex; */
}
.box {
  position: absolute;
  right: 3.4375rem;
}

.box1 {
  width: 7.4375rem;
  height: 3rem;
  /* background-color: aqua; */
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0);
  /* flex-shrink: 0; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  cursor: pointer;
}
.box1:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
  transform: scale(1.25);
}

.box1:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.box1:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.box1:active {
  top: 1px;
}

.rules-pop {
  display: none;
  /* z-index: -1; */
  width: 17.875rem;
  height: 20.5rem;
  /* flex-shrink: 0; */
  border-radius: 13px;
  border: 7px solid #fff;
  background: #004429;
  position: absolute;
  right: 1.75rem;
  bottom: 3.4375rem;
}

.p1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 4rem;
}

.p2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.p3 {
  list-style-type: none;
  width: 14.375rem;
  height: 13.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 3.75rem;
}

.close {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  transform: translate(60%, -60%);
  cursor: pointer;
}

.rules-pop ul li::before {
  content: "\25A0";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.rightsh {
  right: 12.5rem;
}

.box01 {
  /* display: none; */
  position: absolute;
  right: 3.4375rem;
}

.box11 {
  width: 7.4375rem;
  height: 3rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  cursor: pointer;
}
.box11:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
  transform: scale(1.25);
}

.box11:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.box11:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.box11:active {
  top: 1px;
}

/* .box02 {
  margin-left: 2rem;
}
.box12 {
  width: 7.4375rem;
  height: 3rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  cursor: pointer;
}
.box12:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
  transform: scale(1.25);
}

.box12:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.box12:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.box12:active {
  top: 1px;
} */

.spirals {
    height: 18.75rem;
    width: 17.5rem;
    position: absolute;
    top: -5rem;
    left: -1.6875rem;
}

.circles {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: relative;

  > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: rgb(27, 124, 12);

    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 1s;
  }
  .circle2 {
    animation-delay: 2s;
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 0.95;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.cir_los {
  top: -9.375rem;
  left: 23.125rem;
}
.cir_win {
  top: -9.375rem;
  left: -8.125rem;
}
